/* estilos generales */

.imagen_fondo{
    background-image: url('https://res.cloudinary.com/dnblt4j16/image/upload/v1615862029/quimicsa/limpieza_twsxhn.jpg');
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.estilo_footer{
    background-color: #ffffff2e; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 80px;
}